footer{
    background-color: #8cd98c;
    padding-bottom: 2px;
    padding-top: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin : auto;
    border-top: solid 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #d3e0e9;
    
}
footer img{
    margin-top: 2px;    
    position:relative;
    width: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer p{
    text-align: center;
    color: #636b6f;
}
.logo-index{
    margin: auto;
}